---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="What is Design Patterns Earth?"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('Decembre 10 2023')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Design patterns are a way of solving common problems in software development. They are not a set of rules, but rather a set of guidelines that can be used to solve a particular problem. Design patterns are often used to solve problems that are not easily solved by other means.
	</p>

	<p>
		In this site, you are gonna go deep into real world examples of usage of this patterns, and how they can be used to solve problems in software development. We are gonna go class by class, step by step, and how they can work together with other patterns.
	</p>

	<p>
		Be free to comment, and if you want to contribute to this project, go to our github repo and make a pull request!
	</p>
</Layout>
