---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🧑‍🚀 Hello, World!</h1>
			<p>
				Welcome to Design Pattern Earth
			</p>
			<p>
				In this site you will find a collection of design patterns that are used in the wild. The goal is to collect and document these patterns so that we can learn from them and understand how they work in the real world.
			</p>
			<p>Here are a few ideas on how to get started:</p>
			<ul>
				<li>Go to <code>Blog</code></li>
				<li>Select one example with their respective design pattern
				<li>Go deep into our documentation 
				<li>And try it yourself!, we have a step by step tutorial about how to use this examples </li>
				<li>All feedback is overwelcome</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
